* {
  box-sizing: border-box; }

body {
  background-color: #000000;
  margin: 0px; }

.about-container {
  position: relative; }

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 1000px;
  margin: auto;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px; }
  .history-container .history-heading {
    font-family: 'Murecho', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 25px;
    /* identical to box height, or 62% */
    display: flex;
    align-self: center;
    letter-spacing: 0.255em;
    color: #ffff; }
  .history-container .history-knowledge-box,
  .history-container .history-create-box,
  .history-container .history-vision-box {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 50px;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%) 1;
    height: calc(100%/4); }
  .history-container .history-label-knowledge,
  .history-container .history-label-create,
  .history-container .history-label-vision {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 60px;
    border-radius: 10px 10px 10px 0px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5px; }
  .history-container .heading-vision,
  .history-container .heading-create,
  .history-container .heading-knowledge {
    padding-left: 10px;
    font-family: 'Murecho';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    /* identical to box height, or 104% */
    display: flex;
    align-items: center;
    letter-spacing: 0.22em;
    color: #FFFFFF; }
  .history-container .history-textBox-knowledge {
    margin-left: 5%;
    width: 70%;
    color: #ecfaf4;
    font-size: 16px;
    letter-spacing: 0.22em;
    line-height: 25px; }

.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
  gap: 30px; }

.team-heading {
  font-family: 'Murecho', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 25px;
  margin-bottom: 50px;
  letter-spacing: 0.255em;
  color: #ffff; }

.team-box-rebecca,
.team-box-dan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 80px;
  margin: auto;
  width: 1101px;
  height: 550px;
  column-gap: 30px;
  border: 3px solid rgba(123, 241, 184, 0.5); }

.team-box-rebecca {
  border-radius: 20px 20px 0px 20px; }

.team-box-dan {
  border-radius: 0px 20px 20px 20px; }

.team-circle-rebecca,
.team-circle-dan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 333px;
  height: 326px;
  border-radius: 50%;
  border: 1px solid #7BF1B8;
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.team-img-rebecca,
.team-img-dan {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%; }

.circle-globe-one {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 100px;
  right: -10px;
  bottom: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, #A6F5A9 26%, rgba(166, 245, 169, 0) 126%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.circle-globe-two {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: 10px;
  bottom: 1px;
  background: linear-gradient(139.09deg, #D4F79A 0%, rgba(212, 247, 154, 0) 95.05%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.circle-globe-three {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 1px;
  left: 30px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3FDCB4 0%, rgba(63, 220, 180, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.circle-globe-four {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 100px;
  left: -10px;
  border-radius: 50%;
  background: linear-gradient(215.98deg, #46EFC4 42.07%, rgba(166, 245, 169, 0) 116.55%, rgba(166, 245, 169, 0) 116.55%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.circle-globe-five {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 100px;
  top: -6px;
  border-radius: 50%;
  background: linear-gradient(180deg, #02FFD1 0%, rgba(2, 255, 209, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.circle-globe-react-icon,
.circle-globe-bootstrap-icon,
.circle-globe-typescript-icon,
.circle-globe-css-icon,
.circle-globe-sass-icon,
.circle-globe-js-icon,
.circle-globe-wordpress-icon,
.circle-globe-node-icon {
  margin: auto; }

.circle-globe-wordpress-icon {
  width: 50px;
  height: 50px; }

.team-heading-box-rebecca,
.team-heading-box-dan {
  width: auto; }

.wrapper-text-rebecca,
.wrapper-text-dan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  margin-left: 50px; }

.team-heading-rebecca,
.team-heading-dan {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 50px;
  color: #FFFFFF; }

.team-text-box-experience {
  display: flex;
  flex-direction: row;
  width: 500px; }

.team-text-box-knowledge {
  padding-left: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  width: 500px; }

.team-sub-heading-rebecca,
.team-sub-heading-dan {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  color: #46EFC4; }

.sub-heading-divider {
  color: white;
  padding-left: 5px;
  font-size: 25; }

.team-text-rebecca,
.team-text-dan {
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 233% */
  letter-spacing: 0.035em;
  color: #FFFFFF; }

.footerContainer {
  position: relative;
  display: flex;
  height: 500px;
  padding: 10px 20px;
  border-top: 2px solid;
  background: transparent;
  border-image: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%) 1; }
  .footerContainer .radialGradientsmall {
    position: absolute;
    min-width: 800px;
    min-height: 500px;
    left: 80%;
    transform: rotate(-10deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 35.58%, #001F1A 57.29%, rgba(0, 0, 0, 0) 100%); }
  .footerContainer .radialGradientbig {
    position: absolute;
    overflow: hidden;
    width: 1191.43px;
    height: 500px;
    left: -600px;
    transform: rotate(-180deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 20%, #043933 33.33%, #001F1A 66.67%, rgba(0, 0, 0, 0) 100%); }

.footer-heading-container {
  position: absolute;
  top: 50px;
  left: 55px;
  color: white; }

.footer-heading1 {
  font-size: 26px;
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif; }

.instagram-Icon {
  font-size: 50px;
  float: right;
  margin-right: 10px; }

.fb-Icon {
  font-size: 50px;
  float: right;
  margin-right: 20px; }

.mail-Icon {
  font-size: 30px; }

.footer-socialMedia-container {
  position: absolute;
  bottom: 60px;
  right: 100px;
  color: white;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  line-height: 64px;
  line-height: 202%;
  font-weight: bold; }

.footerList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;
  margin-bottom: 80px;
  z-index: 5;
  align-self: flex-end; }
  .footerList li {
    display: inline;
    list-style-type: none;
    font-family: "Lora", serif; }
  .footerList .link {
    color: #ebf3ef;
    text-decoration: none;
    font-size: 20px !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }

.headerContainer {
  display: flex;
  flex-direction: row; }

.hide {
  display: none; }

.logga {
  position: absolute;
  top: 0%;
  left: -10%;
  color: #ffff;
  font-family: 'Murecho', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  z-index: 10;
  margin-left: 15%;
  width: 200px; }

.headerList {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 5%;
  margin-top: 0%;
  z-index: 5; }
  .headerList li {
    display: inline;
    list-style-type: none;
    margin-left: 2%;
    font-family: "Lora", serif; }
  .headerList .link {
    color: #ffff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }
  .headerList .link-blue {
    color: #3DD1AC;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }

h1 {
  color: white; }

h1 {
  color: white; }

.TopContainer {
  position: relative;
  overflow: hidden;
  height: 1024px; }
  .TopContainer .radialGradientDarkGreen {
    position: absolute;
    min-width: 854.19px;
    min-height: 684.11px;
    left: 60%;
    top: -115px;
    transform: rotate(25.29deg);
    background: radial-gradient(111.83% 81.76% at 70.18% 1.12%, #1D2E02 42.98%, #000000 72.47%, #000000 99.19%); }
  .TopContainer .radialGradientsmall {
    position: absolute;
    min-width: 719.58px;
    min-height: 494.76px;
    left: 70%;
    top: 700px;
    transform: rotate(-10deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 35.58%, #001F1A 57.29%, rgba(0, 0, 0, 0) 100%); }
  .TopContainer .radialGradientbig {
    position: absolute;
    min-width: 1191.43px;
    min-height: 1079.57px;
    left: -25%;
    top: 350px;
    transform: rotate(30deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 33.33%, #001F1A 66.67%, rgba(0, 0, 0, 0) 100%); }
  .TopContainer .textBox {
    z-index: 15;
    position: absolute;
    width: 800px;
    left: 115px;
    top: 179px; }
    .TopContainer .textBox .textBox-Btn-Container {
      display: flex;
      flex: row;
      gap: 4%; }
      .TopContainer .textBox .textBox-Btn-Container .btn-info {
        background: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%);
        box-shadow: 5px 7px 10px #000000;
        border-radius: 20px;
        width: 163px;
        border: none;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px; }
      .TopContainer .textBox .textBox-Btn-Container .btn-contact {
        background: #1B1D1C;
        box-shadow: 5px 7px 10px #000000;
        border-radius: 20px;
        width: 163px;
        border: none;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: white; }
    .TopContainer .textBox-h1 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px; }
      .TopContainer .textBox-h1-color {
        background-image: linear-gradient(to right, #46EFC4 16.93%, #7BF1B8 30.72%, #A6F5A9 46.62%, #D4F79A 55.73%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        color: transparent; }
    .TopContainer .textBox-p {
      font-family: "Montserrat", sans-serif;
      color: #ABABAC;
      font-weight: 600;
      font-size: 18px;
      line-height: 34px; }

.middleContainer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.89), rgba(20, 20, 20, 0.932)), url(../../../src/img/code-img.jpg);
  background-size: cover;
  min-height: 450px;
  min-width: 100%; }
  .middleContainer-img .middleContainer-grid {
    display: grid;
    column-gap: 100px;
    row-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 767px) {
      .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 100px; } }
    @media (min-width: 960px) {
      .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px; } }
  .middleContainer-img .icon-container {
    max-width: 539px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px; }
    .middleContainer-img .icon-container .icon {
      margin-top: 35px; }
    .middleContainer-img .icon-container .data {
      width: 63px;
      height: 57px; }
    .middleContainer-img .icon-container .dollar {
      Width: 43px;
      Height: 72px; }
    .middleContainer-img .icon-container .heart {
      Width: 63px;
      Height: 58px; }
    .middleContainer-img .icon-container .comment {
      Width: 53px;
      Height: 53px; }
    .middleContainer-img .icon-container .icon-heading {
      font-family: "Stick No Bills", sans-serif;
      color: #FEFEFE;
      font-style: normal;
      font-weight: 700;
      font-size: 24px; }
    .middleContainer-img .icon-container .icon-p {
      color: #ABABAC;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-top: -25px;
      max-width: 344px; }

.middleContainer .card {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  border: 5px solid transparent;
  border-radius: 19px;
  background: black;
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 2.8px -0.95px 14px 0.1px rgba(212, 247, 154, 0.26);
  width: 293.47px;
  height: 340.47px; }
  .middleContainer .card::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(#023d37, #0e4627, #26675d);
    content: '';
    z-index: -1;
    border-radius: 16px; }
  .middleContainer .card-img {
    width: 255.77px;
    height: 129.89px; }

hr {
  height: 5px;
  margin-top: 0px;
  margin-bottom: -2px;
  background: linear-gradient(to right, #7bf1b8, #a6f5a9, #c9f79e, #d4f79a); }
