@import './../Base/variables.scss';
@import './../Base/mixins.scss';

#dark {

  .about-container {

    position: relative;
    overflow: hidden;

    .popUp {
        height: 90vh;
    
      }


    .radialGradientGreen {
      position: absolute;
      min-width: 750.19px;
      min-height: 600.11px;
      left: 70%;
      top: -180px;
      transform: rotate(25.29deg);
      background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #0a7e72 0%, #0a70648f 35.58%, #0bad9500 57.29%, rgba(0, 0, 0, 0) 100%)
    }

    .radialsmall {

      display: none;

      @include atLarge {
        display: block;
        position: absolute;
        min-width: 900.58px;
        min-height: 700.76px;
        left: 60%;
        top: 950px;
        z-index: 1;
        transform: rotate(-30deg);
        background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #23a195 0%, #022e2ed5 35.58%, #000201 57.29%, rgba(0, 0, 0, 0) 100%)
      }

    }


    .radialbig {
      position: absolute;
      min-width: 1500px;
      min-height: 1200px;
      left: -25%;
      top: 350px;
      z-index: 1;
      transform: rotate(30deg);
      background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #011311 33.33%, #000000 66.67%, rgba(0, 0, 0, 0) 100%);

      @include atLarge {
        min-width: 1300px;
        min-height: 1000px;
      }

      @include at2XlLarge {
        min-width: 1500px;
        min-height: 1300px;
      }


    }

    .history-create-btn-container{
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 50px;
        .history-create-Btn {
            position: absolute;
            background-color: transparent;
            border: solid 2px #3DD1AC;
            width: 200px;
            height: 40px;
            border-radius: 12px;
            color: #3DD1AC;
            font-weight: 700;
        
            @include atXsSmall {}
        
          }


    }

 
    .history-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 300px;

      @include atXsSmall {
        margin-top: 100px;

      }



    }

    .history-container {
      position: relative;
      z-index: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: auto;
      margin: auto;
      margin-top: 10%;
      background-color: rgba(#ffffff, 0.1);
      border-radius: 10px;
      margin-top: 80px;
      padding-bottom: 2%;


      @include atMedium {
        padding-bottom: 3%;
        padding-top: 3%;
      }

      @include atLarge {
        width: 70%;
      }



      .history-heading {
        font-family: 'Murecho', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        display: flex;
        align-self: center;
        color: #ffff;
        letter-spacing: 0.255em;



        @include atMedium {
          font-size: 40px;
          line-height: 25px;
          font-size: 30px;
        }

      }


      .history-create-box,
      .history-knowledge-box,
      .history-vision-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid;
        padding-top: 2%;
        padding-bottom: 2%;
        border-image: linear-gradient(90deg, #46EFC4 -19.55%,
            #7BF1B8 13.97%,
            #A6F5A9 34.08%,
            #D4F79A 50%) 1;


        @include atMedium {
          flex-direction: row;
          padding-top: 30px;
          padding-left: 30px;
          margin-top: 50px;
          height: calc(100%/4);
        }

        .history-textBox-knowledge {
          height: calc(100%/4);
          margin-left: 5%;
          width: 70%;
          color: #ecfaf4;
          font-size: 16px;
          letter-spacing: 0.22em;
          line-height: 25px;
          margin-top: 30px;

          @include atXsSmall {
            padding-top: 20px;
          }
        }

        .icon-history {
          margin-left: 10px;
          align-self: center;
          width: 25px;
          height: 25px;

          @include atLarge {
            height: 60px;
            width: 60px;
          }
        }

       

        .history-label-create {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 5px;
          height: 45px;
          width: 250px;
          border-radius: 10px 10px 10px 0px;
          background: rgba(255, 255, 255, 0.1);

          @include atLarge {
            
            width: 250px;
            height: 60px;

          }

         
          .heading-create {
            align-self: center;
            padding-left: 10px;
            font-family: 'Murecho';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            /* identical to box height, or 104% */
            display: flex;
            align-items: center;
            letter-spacing: 0.22em;
            color: #FFFFFF;

            @include atLarge {
              font-size: 24px;
            }

          }

        }

      }


      .history-Btn-Container-icon {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin: auto;

      }


      .history-btn-container{
        display: flex;
        gap: 10px;

          .history-delete-Btn,
            .history-change-Btn {
              background-color: transparent;
              border: solid 2px #3DD1AC;
              width: 110px;
              height: 40px;
              border-radius: 12px;
              color: #3DD1AC;
              font-weight: 700;
            }

      }
    



    }

  }


  .team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
    gap: 30px;

    .team-heading {
      font-family: 'Murecho', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 25px;
      margin-bottom: 50px;
      letter-spacing: 0.255em;
      color: #ffff;

    }


    .team-box-rebecca,
    .team-box-dan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: auto;
      width: 90%;
      height: auto;
      padding-top: 4%;
      padding-bottom: 4%;
      gap: 20px;
      column-gap: 30px;
      border: 2px solid rgba(123, 241, 184, 0.5);
      position: relative;
      z-index: 3;


      @include atMedium {
        flex-direction: row;
        justify-content: flex-start;
        width: 900px;
        height: 550px;
        padding: 80px;

      }

      @include atLarge {
        flex-direction: row;
        justify-content: flex-start;
        width: 1101px;
        height: 550px;
        padding: 80px;
      }

    }


    .team-box-rebecca {
      @include atLarge {
        border-radius: 20px 20px 0px 20px;
      }


    }

    .team-box-dan {

      @include atLarge {
        border-radius: 0px 20px 20px 20px;
      }
    }


    .team-circle-rebecca,
    .team-circle-dan {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 333px;
      border-radius: 50%;

      @include atMedium {

        transform: matrix(-1, 0, 0, 1, 0, 0);
      }

      @include atLarge {
        height: 326px;
        flex-direction: column;
        justify-items: center;
        border: 1px solid #7BF1B8;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

  }


  .team-img-rebecca,
  .team-img-dan {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .circle-globe-one {
    display: none;

    @include atMedium {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 80px;
      height: 80px;
      right: 40px;
      bottom: 170px;
      border-radius: 50%;
      background: linear-gradient(180deg, #A6F5A9 26%, rgba(166, 245, 169, 0) 126%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100px;
      height: 100px;
      right: -10px;
      bottom: 200px;
      border-radius: 50%;
      background: linear-gradient(180deg, #A6F5A9 26%, rgba(166, 245, 169, 0) 126%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-two {
    display: none;

    @include atMedium {
      display: block;
      position: absolute;
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      right: -40px;
      bottom: 1px;
      background: linear-gradient(139.09deg, #D4F79A 0%, rgba(212, 247, 154, 0) 95.05%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    @include atLarge {
      display: block;
      position: absolute;
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      right: 10px;
      bottom: 1px;
      background: linear-gradient(139.09deg, #D4F79A 0%, rgba(212, 247, 154, 0) 95.05%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-three {

    display: none;

    @include atMedium {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: 1px;
      left: -20px;
      border-radius: 50%;
      background: linear-gradient(180deg, #3FDCB4 0%, rgba(63, 220, 180, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);

    }

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: 1px;
      left: 30px;
      border-radius: 50%;
      background: linear-gradient(180deg, #3FDCB4 0%, rgba(63, 220, 180, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-four {
    display: none;

    @include atMedium {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      top: -50px;
      left: -10px;
      border-radius: 50%;
      background: linear-gradient(215.98deg, #46EFC4 42.07%, rgba(166, 245, 169, 0) 116.55%, rgba(166, 245, 169, 0) 116.55%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 100px;
      left: -10px;
      border-radius: 50%;
      background: linear-gradient(215.98deg, #46EFC4 42.07%, rgba(166, 245, 169, 0) 116.55%, rgba(166, 245, 169, 0) 116.55%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-five {
    display: none;

    @include atMedium {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 120px;
      top: 200px;
      border-radius: 50%;
      background: linear-gradient(180deg, #02FFD1 0%, rgba(2, 255, 209, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);

    }

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 100px;
      top: -6px;
      border-radius: 50%;
      background: linear-gradient(180deg, #02FFD1 0%, rgba(2, 255, 209, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-react-icon,
  .circle-globe-bootstrap-icon,
  .circle-globe-typescript-icon,
  .circle-globe-css-icon,
  .circle-globe-sass-icon,
  .circle-globe-js-icon,
  .circle-globe-wordpress-icon,
  .circle-globe-node-icon {
    margin: auto;
  }

  .circle-globe-wordpress-icon {
    width: 50px;
    height: 50px;
  }

  .team-heading-box-rebecca,
  .team-heading-box-dan {
    width: auto;

  }

  .wrapper-text-rebecca,
  .wrapper-text-dan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    margin-left: 50px;

  }



  .team-heading-rebecca,
  .team-heading-dan {


    font-family: $menyFont;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;



    @include atLarge {
      font-size: 30px;
      margin-bottom: 30px;
    }

  }

  .team-text-box-experience {

    display: flex;
    flex-direction: column;

    @include atLarge {
      display: flex;
      flex-direction: row;
      width: 500px;
      text-align: start;
    }
  }

  .team-text-box-knowledge {
    padding-top: 30px;
    display: flex;
    flex-direction: column;


    @include atLarge {
      display: flex;
      flex-direction: row;
      width: 500px;
      text-align: start;
    }
  }

  .team-sub-heading-rebecca,
  .team-sub-heading-dan {
    display: flex;
    flex-direction: row;
    font-family: $menyFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */


    color: #46EFC4;
  }

  .sub-heading-divider {
    color: white;
    padding-left: 5px;
    font-size: 25;
  }

  .team-text-rebecca,
  .team-text-dan {

    font-family: $menyFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    max-width: 300px;

    @include atMedium {
      max-width: 500px;
      line-height: 20px;

    }

    @include atLarge {
      padding-left: 10px;
      max-width: 700px;
    }
  }

  .team-icon-box {
    display: flex;
    gap: 10px;
    margin-left: 30%;
    margin-top: 5%;

    @include atMedium {
      margin-top: 20px;

    }
  }

  .team-create-btn-container {
    display: flex;
    gap: 10px;
    padding-top: 40px;
    margin: auto;
  }

  .team-create-Btn {
    background-color: transparent;
    border: solid 2px #3DD1AC;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    color: #3DD1AC;
    font-weight: 700;
    z-index: 3;


  }

  .team-btn-container{
    display: flex;
    justify-content: center;
    gap:10px;
    padding-top: 20px;
  }

  .team-delete-Btn,
  .team-change-Btn {
    background-color: transparent;
    border: solid 2px #3DD1AC;
    width: 110px;
    height: 40px;
    border-radius: 12px;
    color: #3DD1AC;
    font-weight: 700;
  }

   


}



//ligth ************************************************************************

#light {

  .about-container {

    position: relative;
    overflow: hidden;


    .radialGradientGreen {
      position: absolute;
      min-width: 750.19px;
      min-height: 600.11px;
      left: 70%;
      top: -180px;
      transform: rotate(25.29deg);
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 9.9%, #8a328bb0 17.96%, #8b1ab4ad 39.32%, #d56ce8c4 50%, rgba(255, 255, 255, 0) 100%);
    }

    .radialsmall {
      display: none;

      @include atLarge {
        display: block;
        position: absolute;
        min-width: 700.58px;
        min-height: 600.76px;
        left: 70%;
        top: 950px;
        z-index: 1;
        transform: rotate(-30deg);
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 9.9%, #cb51cd52 17.96%, #8b1ab462 39.32%, #d56ce893 50%, rgba(255, 255, 255, 0) 100%);
      }

    }


    .radialbig {

      position: absolute;
      min-width: 1500px;
      min-height: 1200px;
      left: -165%;
      top: 350px;
      z-index: 1;
      transform: rotate(40deg);
      background: radial-gradient(56.51% 46.26% at 36.88% 59.78%, rgba(172, 72, 162, 0.6) 0%, rgba(156, 51, 182, 0.6) 35.58%, rgba(123, 22, 101, 0.6) 57.29%, rgba(231, 18, 209, 0) 100%);

      @include atSmall {
        left: -125%;
      }

      @include atSmallMedium {
        left: -95%;
      }

      @include atMedium {
        left: -65%;
      }

      @include atLarge {
        left: -45%;
        min-width: 1300px;
        min-height: 1000px;
      }

      @include at2XlLarge {
        left: -35%;
        min-width: 1500px;
        min-height: 1300px;
      }
    }
     .history-create-btn-container{
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 150px;
      .history-create-Btn {
          display: none;
      
          @include atLarge {
            display: block;
            background-color: transparent;
            width: 200px;
            height: 40px;
            border-radius: 12px;
            background: linear-gradient(82.48deg, #CF35D2 11.66%, rgba(207, 53, 210, 0.44) 74.84%, rgba(186, 58, 218, 0) 122.96%);
            border: purple;
            color: #4f4763;
            font-weight: 700;
            z-index: 3;
      
          }
      
        }

     }
   

        .history-btn-container{
          display: flex;
            gap: 10px;
            padding-top: 20px;
            margin: auto;

        }

    .history-delete-Btn,
    .history-change-Btn {
      display: none;

      @include atLarge {
        display: block;
        background-color: transparent;
        width: 110px;
        height: 40px;
        border-radius: 12px;
        font-weight: 700;
        background: linear-gradient(82.48deg, #CF35D2 11.66%, rgba(207, 53, 210, 0.44) 74.84%, rgba(186, 58, 218, 0) 122.96%);
        border: purple;
        color: #4f4763;

      }

    }




    .history-container {
      position: relative;
      z-index: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: auto;
      margin: auto;
      margin-top: 3%;
      background-color:
        rgba(56, 50, 79, .1);
      border-radius: 10px;
      padding-bottom: 2%;

      @include atMedium {
        padding-bottom: 3%;
        padding-top: 3%;
      }

      @include atLarge {
        width: 70%;
      }

      .history-heading {
        font-family: 'Murecho', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        display: flex;
        align-self: center;
        letter-spacing: 0.255em;
        color: rgba(56, 50, 79, 1);

        @include atMedium {
          font-size: 40px;
          line-height: 25px;
        }

      }

      .history-knowledge-box,
      .history-create-box,
      .history-vision-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        align-items: center;
        padding-bottom: 2%;
        border-top: 1px solid;
        border-image: linear-gradient(90deg, #CF35D2 11.66%, rgba(207, 53, 210, 0.44) 74.84%, rgba(186, 58, 218, 0) 122.96%) 1;


        @include atMedium {
          flex-direction: row;
          padding-top: 30px;
          padding-left: 30px;
          margin-top: 50px;
          height: calc(100%/4);
        }


        .history-textBox-knowledge {
          margin-left: 5%;
          width: 70%;
          color:
            rgba(56, 50, 79, 1);
          font-size: 16px;
          letter-spacing: 0.22em;
          line-height: 25px;
        }



        .history-label-knowledge,
        .history-label-create,
        .history-label-vision {
          display: flex;
          flex-direction: row;
          width: 250px;
          height: 60px;
          border-radius: 10px 10px 10px 0px;
          background-color: rgba(56, 50, 79, .2);
          margin-top: 5px;

          .heading-vision,
          .heading-create,
          .heading-knowledge {

            padding-left: 10px;
            font-family: 'Murecho';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 25px;
            /* identical to box height, or 104% */
            display: flex;
            align-items: center;
            letter-spacing: 0.22em;
            color: rgba(56, 50, 79, 1);

          }


        }

      }



    }

  }




  .team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
    gap: 30px;

    .team-create-btn-container{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

    .team-create-Btn {
        display: none;
    
        @include atLarge {
          display: block;
          position: absolute;
          background-color: transparent;
          width: 200px;
          height: 40px;
          border-radius: 12px;
          background: linear-gradient(82.48deg, #CF35D2 11.66%, rgba(207, 53, 210, 0.44) 74.84%, rgba(186, 58, 218, 0) 122.96%);
          border: purple;
          color: #4f4763;
          font-weight: 700;
          z-index: 3;
    
        }
      }

      
    }


    .team-heading {
      position: relative;
      font-family: 'Murecho', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 25px;
      margin-bottom: 50px;
      letter-spacing: 0.255em;
      color: rgba(56, 50, 79, 1);


    }


    .team-box-rebecca {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: auto;
      width: 90%;
      height: auto;
      column-gap: 20px;
      position: relative;
      padding-top: 4%;
      padding-bottom: 4%;
      column-gap: 30px;
      position: relative;

      @include atLarge {
        padding: 80px;
        width: 1101px;
        height: 550px;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        z-index: 3;
      }


      &::before {
        content: "";
        position: absolute;
        inset: 0;

        padding: 4px;
        background: linear-gradient(82.48deg, #962DE9 11.66%, rgba(144, 63, 173, 0.44) 90.76%, rgba(186, 58, 218, 0)159.15%) border-box;
        /*3*/
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        border-radius: 20px 20px 0px 20px;

      }



    }

    .team-box-dan {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: auto;
      width: 90%;
      height: auto;
      gap: 20px;
      column-gap: 30px;
      padding-top: 4%;
      padding-bottom: 4%;
      position: relative;

      @include atLarge {
        flex-direction: row;
        justify-content: flex-start;
        width: 1101px;
        height: 550px;
        padding: 80px;
       
      }



      &::before {
        content: "";
        position: absolute;
        inset: 0;

        padding: 4px;
        background: linear-gradient(82.48deg, #962DE9 11.66%, rgba(144, 63, 173, 0.44) 90.76%, rgba(186, 58, 218, 0)159.15%) border-box;
        /*3*/
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        border-radius: 0px 20px 20px 20px;

      }
    }




    .team-circle-rebecca,
    .team-circle-dan {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-items: center;
      width: 333px;
      border-radius: 50%;


      @include atLarge {
        height: 326px;
        flex-direction: column;
        justify-items: center;
        border: 1px solid #962DE9;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

  }


  .team-img-rebecca,
  .team-img-dan {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .circle-globe-one {
    display: none;

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100px;
      height: 100px;
      right: -10px;
      bottom: 200px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(242, 83, 226, 0.967), rgba(242, 83, 226, 0.281));
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-two {
    display: none;

    @include atLarge {
      display: block;
      position: absolute;
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      right: 10px;
      bottom: 1px;
      background: linear-gradient(180deg, rgba(242, 83, 226, 0.967), rgba(242, 83, 226, 0.281));
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-three {
    display: none;

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: 1px;
      left: 30px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(228, 157, 254, 0.967), rgba(144, 63, 173, 0.31));
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-four {
    display: none;

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 100px;
      left: -10px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(144, 63, 173, 0.967), rgba(144, 63, 173, 0.31));
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-five {
    display: none;

    @include atLarge {
      display: block;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 100px;
      top: -6px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(144, 63, 173, 0.972), rgba(144, 63, 173, 0.44));
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }

  .circle-globe-react-icon,
  .circle-globe-bootstrap-icon,
  .circle-globe-typescript-icon,
  .circle-globe-css-icon,
  .circle-globe-sass-icon,
  .circle-globe-js-icon,
  .circle-globe-wordpress-icon,
  .circle-globe-node-icon {
    margin: auto;
  }

  .circle-globe-wordpress-icon {
    width: 50px;
    height: 50px;
  }

  .team-heading-box-rebecca,
  .team-heading-box-dan {
    width: auto;

  }

  .wrapper-text-rebecca,
  .wrapper-text-dan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    margin-left: 50px;
    position: relative;
    z-index: 3;

  }
  

  .team-heading-rebecca,
  .team-heading-dan {
    font-family: $menyFont;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 50px;
    color: rgba(56, 50, 79, 1);
  }

  .team-text-box-experience {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include atLarge {
      display: flex;
      flex-direction: row;
      width: 500px;
      text-align: start;
    }
  }

  .team-text-box-knowledge {
    padding-left: 15px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;


    @include atLarge {
      display: flex;
      flex-direction: row;
      width: 500px;
      text-align: start;
    }
  }

  .team-sub-heading-rebecca,
  .team-sub-heading-dan {
    display: flex;
    flex-direction: row;
    font-family: $menyFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */


    color: rgba(242, 83, 226, 0.967)
  }

  .sub-heading-divider {
    color: rgba(56, 50, 79, 1);
    padding-left: 5px;
    font-size: 25;
  }

  .team-text-rebecca,
  .team-text-dan {

    font-family: $menyFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 233% */
    letter-spacing: 0.035em;
    color: rgba(56, 50, 79, 1);
    max-width: 300px;

    @include atLarge {
      padding-left: 10px;
      max-width: 700px;
    }
  }

  .team-icon-box {
    display: flex;
    gap: 10px;
    margin-left: 30%;
    margin-top: 5%;

    a {
      background-color: rgba(56, 50, 79, 1);
    }
  }


  .team-btn-container {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    margin: auto;
  }

  .team-delete-Btn,
  .team-change-Btn {
    display: none;

    @include atLarge {
      display: block;
      background-color: transparent;
      width: 110px;
      height: 40px;
      border-radius: 12px;
      font-weight: 700;
      background: linear-gradient(82.48deg, #CF35D2 11.66%, rgba(207, 53, 210, 0.44) 74.84%, rgba(186, 58, 218, 0) 122.96%);
      border: purple;
      color: #4f4763;

    }

  }
   .popUp{
        height: 90vh;

   }
}