@import './../Base/variables.scss';
@import './../Base/mixins.scss';


#dark {
  .footerContainer {


    z-index: 2;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 500px;
    padding: 10px 20px;
    border-top: 2px solid;
    background: rgba(0, 31, 26, .31);
    border-image: linear-gradient(90deg, #46EFC4 -19.55%,
        #7BF1B8 13.97%,
        #A6F5A9 34.08%,
        #D4F79A 50%) 1;

    .radialGradientsmall {
      position: absolute;
      min-width: 719.58px;
      min-height: 494.76px;
      left: 70%;
      top: 130px;
      transform: rotate(-30deg);
      background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 35.58%, rgba(36, 129, 114, 0.521), #001F1A 57.29%, rgba(0, 0, 0, 0) 100%)
    }

    .radialGradientbig {
      position: absolute;
      min-width: 1191.43px;
      min-height: 1079.57px;
      left: -25%;
      top: 50px;
      transform: rotate(30deg);
      background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 33.33%, rgba(36, 129, 114, 0.521), #001F1A 66.67%, rgba(0, 0, 0, 0) 100%)
    }

    @include atXsSmall {
      height: 350px;
    }



  }

  .footer-heading-container {
    position: absolute;
    top: 50px;
    left: 55px;
    color: white;

    @include atXsSmall {
      top: 5px;
      left: 65;
    }

  }

  .footer-heading1 {
    font-size: 26px;
    color: white;
    font-weight: 600;
    font-family: $menyFont;
  }


  .instagram-Icon {
    font-size: 50px;
    float: right;
    margin-right: 10px;
  }

  .fb-Icon {
    font-size: 50px;
    float: right;
    margin-right: 20px;
  }

  .mail-Icon {
    font-size: 30px;
  }

  .footer-socialMedia-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;

    font-size: 26px;
    font-family: $menyFont;
    line-height: 64px;
    line-height: 202%;
    font-weight: bold;

    @include atLarge {
      bottom: 60px;
      right: 100px;
    }
  }

  .footerList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    margin-bottom: 80px;
    z-index: 5;
    align-self: flex-end;


    li {
      display: inline;
      list-style-type: none;
      font-family: "Lora", serif;
    }

    .link {
      color: rgb(235, 243, 239);
      text-decoration: none;
      font-size: 20px !important;
      @include navFont();
    }




  }
}


//light *********************************************************

#light {
  .footerContainer {
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 500px;
    padding: 10px 20px;
    border-top: 4px solid;
    background: #d981da73;
    border-image: linear-gradient(90deg, #6f0079e0,
        #EB88B1,
        #F5C05A) 1;




    .radialGradientsmall {
      position: absolute;
      min-width: 719.58px;
      min-height: 494.76px;
      left: 75%;
      top: 130px;
      transform: rotate(-30deg);
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 9.9%, #CB51CD 17.96%, #8C1AB4 39.32%, #D66CE8 50%, rgba(255, 255, 255, 0) 100%);
    }



    .radialGradientbig {
      position: absolute;
      min-width: 1191.43px;
      min-height: 1079.57px;
      left: -15%;
      top: 50px;
      transform: rotate(30deg);
      background: radial-gradient(56.51% 46.26% at 36.88% 59.78%, #AC48A2 0%, #9C33B6 35.58%, #7B1665 57.29%, rgba(231, 18, 209, 0) 100%)
    }




  }

  .footer-heading-container {
    position: absolute;
    top: 50px;
    left: 55px;
    color: white;

  }

  .footer-heading1 {
    font-size: 26px;
    color: #34103f;
    font-weight: 600;
    font-family: $menyFont;
  }


  .instagram-Icon {
    font-size: 50px;
    float: right;
    margin-right: 10px;
    color: #34103f;
    cursor: pointer;
  }

  .fb-Icon {
    font-size: 50px;
    float: right;
    margin-right: 20px;
    color: #34103f;
    cursor: pointer;
  }

  .mail-Icon {
    font-size: 35px;
    color: #34103f;
  }

  .footer-socialMedia-container {
    position: absolute;

    color: #34103f;
    bottom: 20px;
    right: 15px;
    font-size: 26px;
    font-family: $menyFont;
    line-height: 64px;
    line-height: 202%;
    font-weight: bold;

    @include atLarge {
      bottom: 60px;
      right: 100px;

    }
  }

  .footerList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    margin-bottom: 80px;
    z-index: 5;
    align-self: flex-end;


    li {
      display: inline;
      list-style-type: none;
      font-family: "Lora", serif;
    }

    .link {
      color: rgb(235, 243, 239);
      text-decoration: none;
      font-size: 20px !important;
      @include navFont();
    }

      .facebook-footer{
        color: white;
      }



  }
}