
@import './../Base/variables.scss';
@import './../Base/mixins.scss';
.headerContainer {
  display: flex;
  flex-direction: row;
 
}
.logga {
    position: absolute;
    top: 0%;
    left: -10%;
    color: #ffff;
    font-family: 'Murecho', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    z-index: 10;
    margin-left: 15%;
    width: 200px;
    
   
}
.headerList {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    margin-top: 0%;
    z-index: 5;

    li {
   
        display: inline;
        list-style-type: none;
        margin-left: 2%;
       
    
      
        font-family: "Lora", serif;
      }

      .link {
        color: #ffff;
        text-decoration: none;
        @include navFont();
      }
  }
