
@import './../Base/variables.scss';
@import './../Base/mixins.scss';


h1 {
    color: white;
  }
.TopContainer {
  position: relative;
  overflow: hidden;
  height: 1024px;


  .radialGradientDarkGreen{
    position: absolute;
    min-width: 854.19px;
    min-height: 684.11px;
    left: 60%;
    top: -115px;
    transform: rotate(25.29deg);
    background: radial-gradient(111.83% 81.76% at 70.18% 1.12%, #1D2E02 42.98%, #000000 72.47%, #000000 99.19%)
    }
  .radialGradientsmall{
    position: absolute;
    min-width: 719.58px;
    min-height: 494.76px;
    left: 70%;
    top: 700px;
    transform: rotate(-10deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 35.58%, #001F1A 57.29%, rgba(0, 0, 0, 0) 100%)
  }
  .radialGradientbig{
    position: absolute;
    min-width: 1191.43px;
    min-height: 1079.57px;
    left: -25%;
    top: 350px;
    transform: rotate(30deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 33.33%, #001F1A 66.67%, rgba(0, 0, 0, 0) 100%)

}

.textBox {
  z-index: 15;
  position: absolute;
  width: 800px;
  left: 115px;
  top: 179px;

  .textBox-Btn-Container {
    display: flex;
    flex: row;
    gap: 4%;

    .btn-info {
      background: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%);
      box-shadow: 5px 7px 10px #000000;
      border-radius: 20px;
      width: 163px;
      border: none;
      height: 54px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
    }
    .btn-contact {
      background: #1B1D1C;
      box-shadow: 5px 7px 10px #000000;
      border-radius: 20px;
      width: 163px;
      border: none;
      height: 54px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: white;
    }
  }

  &-h1 {
   
    font-family: $menyFont;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    
    &-color {
      background-image: linear-gradient(to right, #46EFC4 16.93%, #7BF1B8 30.72%, #A6F5A9 46.62%, #D4F79A 55.73%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    color: transparent;
    }
  }

  &-p {
    font-family: $menyFont;
    color: #ABABAC;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
  }
}

}

.middleContainer {

 

  &-img {

    .middleContainer-grid { 
      display: grid;
      column-gap: 100px;  
      row-gap: 10px; 
      grid-template-columns: repeat(1, 1fr); 

      @include atSmallMedium {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px; 
        column-gap: 100px;  
      }
      @include atMedium {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px; 
      }
     
    }

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image:   linear-gradient(to bottom, rgba(7, 7, 7, 0.89), rgba(20, 20, 20, 0.932)),url(../../../src/img/code-img.jpg);
  background-size: cover;
  min-height: 450px;
  min-width: 100%;

  .icon-container {
    max-width: 539px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px;

    .icon {
      margin-top: 35px;;
    
     }

     .data {
      width: 63px;
      height: 57px;
     }
     .dollar {
      Width:43px;
      Height:72px;
     }
     .heart {
      Width:63px;
      Height:58px;
     }
     .comment {
      Width:53px;
      Height:53px;
     }

     .icon-heading {
      font-family: $iconFont;
      color: #FEFEFE;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
     }

     .icon-p {
      color: #ABABAC;
      font-family: $menyFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-top: -25px;
      max-width: 344px;
    
      
     }

  }
     
   
  
 
} 


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-height: 700px;

  h2 {
  
    font-family: $menyFont;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: white;
    @include atSmallMedium {
      align-self: start;
      margin-left: 12%;
    }
    @include atLarge {
      margin-left: 20%;
    }
  }


&-grid {
  
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  row-gap: 20px;

  @include atSmallMedium {
    grid-template-columns: repeat(2, 1fr);
 
  }
  @include atMedium {
    grid-template-columns: repeat(3, 1fr);
   
  
  }
  @include atLarge {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
  
  }
}
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top: 20px;
 margin-left: 20px;
 position: relative;
 border: 5px solid transparent;
 border-radius: 19px;
 background: black;
 background-clip: padding-box;
 padding: 10px;
 box-shadow: 2.8px -0.95px 14px .1px rgba(212, 247, 154, 0.26);
 width: 293.47px;
 height: 340.47px;

  &::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient( rgba(2, 61, 55, 1), rgba(14, 70, 39, 1),  rgba(38, 103, 93, 1));
    content: '';
    z-index: -1;
    border-radius: 16px;
  }
  

  &-img {
    width: 255.77px;
    height: 129.89px;
  }

  &-heading {
    font-family: $iconFont;
    color: #FEFEFE;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
  }
  &-p {
   font-family: $menyFont;
   color: #ABABAC;
   font-weight: 600;
   font-size: 14px;
   margin-top: -15px;
  
  }

  .textBox-Btn-Container {
    display: flex;
    flex: row;
    gap: 4%;

    .btn-info {
      background: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%);
      border-radius: 13px;
      width: 110px;
      border: none;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
    }
    .btn-prev {
      border: 2px solid #808281;
      border-radius: 13px;
      width: 110px;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: white;
      background: #000000;
    }
  }
}
}

hr{
height: 5px;
margin-top: 0px;
margin-bottom: -2px;
background: linear-gradient(to right, rgba(123, 241, 184, 1),rgba(166, 245, 169, 1), rgba(201, 247, 158, 1), rgba(212, 247, 154, 1));
}