.headerContainer {
  display: flex;
  flex-direction: row; }

.hide {
  display: none; }

.logga {
  position: absolute;
  top: 1%;
  left: -10%;
  color: #ffff;
  font-family: 'Murecho', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  z-index: 60;
  margin-left: 15%;
  width: 200px; }

#dark .headerContainer {
  background-color: black;
  position: relative;
  z-index: 8;
  height: 70px; }
  #dark .headerContainer .menyBtn {
    background-image: linear-gradient(to right bottom, #88d5b6, #022029);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 60;
    display: flex;
    flex-direction: center;
    align-items: center; }
    @media (min-width: 960px) {
      #dark .headerContainer .menyBtn {
        display: none; } }
    #dark .headerContainer .menyBtn .openMeny .line-1 {
      position: absolute;
      top: 20px;
      left: 30px;
      transform: translate(-50%, -50%);
      rotate: -45deg; }
    #dark .headerContainer .menyBtn .openMeny .line-3 {
      rotate: 45deg;
      position: absolute;
      top: 25px;
      left: 29px;
      transform: translate(-50%, -50%); }
    #dark .headerContainer .menyBtn .openMeny .line-2 {
      width: 0px; }
    #dark .headerContainer .menyBtn .menu {
      height: 100%;
      width: 100%;
      position: relative;
      transition: transform 0.5s, width 0.5s; }
      #dark .headerContainer .menyBtn .menu .line-1 {
        transform: translate(-50%, -15px); }
      #dark .headerContainer .menyBtn .menu .line-3 {
        transform: translate(-50%, 13px); }
      #dark .headerContainer .menyBtn .menu span {
        background-color: black;
        width: 70%;
        height: 3.5px;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: rotate .8s, width .8s; }

#dark .hiddenNav {
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out; }
  @media (min-width: 960px) {
    #dark .hiddenNav {
      transform: translateY(0%); } }

#dark .navShow {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out; }

#dark .headerList {
  width: 100%;
  background-color: #02181e;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 5%;
  margin-top: 0%;
  position: relative;
  z-index: 20; }
  @media (min-width: 960px) {
    #dark .headerList {
      height: 70px;
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: end; } }
  #dark .headerList li {
    display: inline;
    list-style-type: none;
    margin-left: 2%;
    font-family: "Lora", serif; }
  #dark .headerList .link {
    color: #ffff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }
  #dark .headerList .link-blue {
    color: #3DD1AC;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }

#light .headerContainer {
  background: linear-gradient(90deg, #4E114D 0%, rgba(140, 30, 139, 0.74) 50%, rgba(183, 11, 181, 0.37) 100%);
  position: relative;
  z-index: 8;
  height: 70px; }
  #light .headerContainer .menyBtn {
    background-image: linear-gradient(to right bottom, #460745 0%, #b606b3);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 60;
    display: flex;
    flex-direction: center;
    align-items: center; }
    @media (min-width: 960px) {
      #light .headerContainer .menyBtn {
        display: none; } }
    #light .headerContainer .menyBtn .openMeny .line-1 {
      position: absolute;
      top: 20px;
      left: 30px;
      transform: translate(-50%, -50%);
      rotate: -45deg; }
    #light .headerContainer .menyBtn .openMeny .line-3 {
      rotate: 45deg;
      position: absolute;
      top: 25px;
      left: 29px;
      transform: translate(-50%, -50%); }
    #light .headerContainer .menyBtn .openMeny .line-2 {
      width: 0px; }
    #light .headerContainer .menyBtn .menu {
      height: 100%;
      width: 100%;
      position: relative;
      transition: transform 0.5s, width 0.5s; }
      #light .headerContainer .menyBtn .menu .line-1 {
        transform: translate(-50%, -15px); }
      #light .headerContainer .menyBtn .menu .line-3 {
        transform: translate(-50%, 13px); }
      #light .headerContainer .menyBtn .menu span {
        background-color: white;
        width: 70%;
        height: 3.5px;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: rotate .8s, width .8s; }

#light .hiddenNav {
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out; }
  @media (min-width: 960px) {
    #light .hiddenNav {
      transform: translateY(0%); } }

#light .navShow {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out; }

#light .headerList {
  width: 100%;
  background: linear-gradient(90deg, #4E114D 0%, #d266d0 50%, #621661 100%);
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  gap: 20px;
  margin-top: 0%;
  z-index: 20;
  position: relative; }
  @media (min-width: 960px) {
    #light .headerList {
      height: 70px;
      flex-direction: row;
      background: linear-gradient(90deg, #4E114D 0%, rgba(140, 30, 139, 0.74) 50%, rgba(183, 11, 181, 0.37) 100%);
      align-items: center;
      justify-content: end; } }
  #light .headerList li {
    display: inline;
    list-style-type: none;
    margin-left: 2%;
    font-family: "Lora", serif; }
  #light .headerList .link {
    color: #ffff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }
  #light .headerList .link-blue {
    color: #6828BA;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat", sans-serif; }
