#dark h1 {
  color: white; }

#dark .TopContainer {
  position: relative;
  overflow: hidden;
  height: 1024px; }
  #dark .TopContainer .radialGradientDarkGreen {
    position: absolute;
    min-width: 750.19px;
    min-height: 600.11px;
    left: 70%;
    top: -180px;
    transform: rotate(25.29deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #0a7e72 0%, #0a70648f 35.58%, #0bad9500 57.29%, rgba(0, 0, 0, 0) 100%); }
  #dark .TopContainer .radialGradientsmall {
    position: absolute;
    min-width: 719.58px;
    min-height: 494.76px;
    left: 70%;
    top: 700px;
    transform: rotate(-10deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 35.58%, #001F1A 57.29%, rgba(0, 0, 0, 0) 100%); }
  #dark .TopContainer .radialGradientbig {
    position: absolute;
    min-width: 1191.43px;
    min-height: 1079.57px;
    left: -25%;
    top: 350px;
    transform: rotate(30deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #023D37 0%, #043933 33.33%, #001F1A 66.67%, rgba(0, 0, 0, 0) 100%); }
  #dark .TopContainer .textBox {
    z-index: 15;
    position: absolute;
    width: 800px;
    left: 150px;
    top: 225px; }
    #dark .TopContainer .textBox .textBox-Btn-Container {
      display: flex;
      flex: row;
      gap: 4%; }
      #dark .TopContainer .textBox .textBox-Btn-Container .btn-info-home {
        background: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%);
        box-shadow: 5px 7px 10px #000000;
        border-radius: 20px;
        width: 163px;
        border: none;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px; }
      #dark .TopContainer .textBox .textBox-Btn-Container .btn-contact {
        background: #1B1D1C;
        box-shadow: 5px 7px 10px #000000;
        border-radius: 20px;
        width: 163px;
        border: none;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: white; }
    #dark .TopContainer .textBox-h1 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px; }
      #dark .TopContainer .textBox-h1-color {
        background-image: linear-gradient(to right, #46EFC4 16.93%, #7BF1B8 30.72%, #A6F5A9 46.62%, #D4F79A 55.73%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        color: transparent; }
    #dark .TopContainer .textBox-p {
      font-family: "Montserrat", sans-serif;
      color: #ABABAC;
      font-weight: 600;
      font-size: 18px;
      line-height: 34px; }

#dark .middleContainer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.89), rgba(20, 20, 20, 0.932)), url(../../../src/img/code-img.jpg);
  background-size: cover;
  min-height: 450px;
  min-width: 100%; }
  #dark .middleContainer-img .middleContainer-grid {
    display: grid;
    column-gap: 100px;
    row-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 767px) {
      #dark .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 100px; } }
    @media (min-width: 960px) {
      #dark .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px; } }
  #dark .middleContainer-img .icon-container {
    max-width: 539px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px; }
    #dark .middleContainer-img .icon-container .icon {
      margin-top: 15px; }
    #dark .middleContainer-img .icon-container .data {
      width: 63px;
      height: 57px; }
    #dark .middleContainer-img .icon-container .dollar {
      Width: 43px;
      Height: 72px; }
    #dark .middleContainer-img .icon-container .heart {
      Width: 63px;
      Height: 58px; }
    #dark .middleContainer-img .icon-container .comment {
      Width: 53px;
      Height: 53px; }
    #dark .middleContainer-img .icon-container .icon-heading {
      font-family: "Stick No Bills", sans-serif;
      color: #FEFEFE;
      font-style: normal;
      font-weight: 700;
      font-size: 24px; }
    #dark .middleContainer-img .icon-container .icon-p {
      color: #ABABAC;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      max-width: 344px; }

#dark .middleContainer .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-height: 700px; }
  #dark .middleContainer .project-container h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: white; }
    @media (min-width: 767px) {
      #dark .middleContainer .project-container h2 {
        align-self: start;
        margin-left: 12%; } }
    @media (min-width: 1200px) {
      #dark .middleContainer .project-container h2 {
        margin-left: 20%; } }
  #dark .middleContainer .project-container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px; }
    @media (min-width: 767px) {
      #dark .middleContainer .project-container-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 960px) {
      #dark .middleContainer .project-container-grid {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 1200px) {
      #dark .middleContainer .project-container-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px; } }

#dark .middleContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  border: 5px solid transparent;
  border-radius: 19px;
  background: black;
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 2.8px -0.95px 14px 0.1px rgba(90, 192, 187, 0.486);
  width: 293.47px;
  height: 340.47px; }
  #dark .middleContainer .card::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(#023d37, #0e4627, #26675d);
    content: '';
    z-index: -1;
    border-radius: 16px; }
  #dark .middleContainer .card-img {
    width: 255.77px;
    height: 129.89px; }
  #dark .middleContainer .card-heading {
    font-family: "Stick No Bills", sans-serif;
    color: #FEFEFE;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-top: 2%; }
  #dark .middleContainer .card-p {
    font-family: "Montserrat", sans-serif;
    color: #ABABAC;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2%; }
  #dark .middleContainer .card .textBox-Btn-Container {
    display: flex;
    flex: row;
    gap: 4%; }
    #dark .middleContainer .card .textBox-Btn-Container .btn-info-home {
      background: linear-gradient(90deg, #46EFC4 -19.55%, #7BF1B8 13.97%, #A6F5A9 34.08%, #D4F79A 50%);
      border-radius: 13px;
      width: 110px;
      border: none;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px; }
    #dark .middleContainer .card .textBox-Btn-Container .btn-prev {
      border: 2px solid #808281;
      border-radius: 13px;
      width: 110px;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: white;
      background: #000000; }

#dark hr {
  border-top: none; }

#dark .hr {
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(to right, #7bf1b8, #a6f5a9, #c9f79e, #d4f79a); }

.switch {
  position: relative;
  width: 110px;
  height: 60px;
  margin: 0 10px; }
  .switch input {
    display: none; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 50px;
      width: 50px;
      left: 5px;
      bottom: 5px;
      background-color: white;
      transition: .4s;
      border-radius: 50px; }
  .switch input:checked + .slider {
    background-color: #ff278c; }
    .switch input:checked + .slider:before {
      transform: translate(50px); }

#light h1 {
  color: #38324F; }

#light .TopContainer {
  position: relative;
  overflow: hidden;
  height: 1024px; }
  #light .TopContainer .radialGradientDarkGreen {
    position: absolute;
    min-width: 1000.19px;
    min-height: 900.11px;
    left: 70%;
    top: -280px;
    transform: rotate(25.29deg);
    background: radial-gradient(56.51% 46.26% at 52.72% 55.17%, #f4a48286, #ff608da6, #d532d84f, rgba(213, 108, 232, 0.116) 50%, rgba(252, 249, 249, 0) 100%); }
  #light .TopContainer .radialGradientsmall {
    position: absolute;
    min-width: 719.58px;
    min-height: 494.76px;
    left: 70%;
    top: 700px;
    transform: rotate(-10deg);
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 9.9%, #cb51cd52 17.96%, #8b1ab462 39.32%, #d56ce893 50%, rgba(255, 255, 255, 0) 100%); }
  #light .TopContainer .radialGradientbig {
    position: absolute;
    min-width: 1191.43px;
    min-height: 1079.57px;
    left: -5%;
    top: 380px;
    transform: rotate(20deg);
    background: radial-gradient(56.51% 46.26% at 36.88% 59.78%, rgba(172, 72, 162, 0.6) 0%, rgba(156, 51, 182, 0.6) 35.58%, rgba(123, 22, 101, 0.6) 57.29%, rgba(231, 18, 209, 0) 100%); }
  #light .TopContainer .textBox {
    z-index: 15;
    position: absolute;
    width: 800px;
    left: 150px;
    top: 225px; }
    #light .TopContainer .textBox .textBox-Btn-Container {
      display: flex;
      flex: row;
      gap: 4%; }
      #light .TopContainer .textBox .textBox-Btn-Container .btn-info-home {
        background: linear-gradient(90deg, #6f0079e0, #EB88B1);
        box-shadow: 5px 7px 10px #0000001c;
        border-radius: 20px;
        width: 163px;
        border: none;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: white; }
      #light .TopContainer .textBox .textBox-Btn-Container .btn-contact {
        background-color: white;
        box-shadow: 5px 7px 10px #0000001c;
        border-radius: 20px;
        width: 163px;
        border: solid  #38324F 4px;
        height: 54px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #38324F; }
    #light .TopContainer .textBox-h1 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px; }
      #light .TopContainer .textBox-h1-color {
        background-image: linear-gradient(to right, #6f0079e0, #EB88B1, #F5C05A), linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        color: transparent; }
    #light .TopContainer .textBox-p {
      font-family: "Montserrat", sans-serif;
      color: #8e8e8f;
      font-weight: 600;
      font-size: 18px;
      line-height: 34px; }

#light .middleContainer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.89), rgba(20, 20, 20, 0.932)), url(../../../src/img/code-img.jpg);
  background-size: cover;
  min-height: 450px;
  min-width: 100%; }
  #light .middleContainer-img .middleContainer-grid {
    display: grid;
    column-gap: 100px;
    row-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 767px) {
      #light .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 100px; } }
    @media (min-width: 960px) {
      #light .middleContainer-img .middleContainer-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px; } }
  #light .middleContainer-img .icon-container {
    max-width: 539px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 20px; }
    #light .middleContainer-img .icon-container .icon {
      margin-top: 15px; }
    #light .middleContainer-img .icon-container .data {
      width: 63px;
      height: 57px; }
    #light .middleContainer-img .icon-container .dollar {
      Width: 43px;
      Height: 72px; }
    #light .middleContainer-img .icon-container .heart {
      Width: 63px;
      Height: 58px; }
    #light .middleContainer-img .icon-container .comment {
      Width: 53px;
      Height: 53px; }
    #light .middleContainer-img .icon-container .icon-heading {
      font-family: "Stick No Bills", sans-serif;
      color: #FEFEFE;
      font-style: normal;
      font-weight: 700;
      font-size: 24px; }
    #light .middleContainer-img .icon-container .icon-p {
      color: #ABABAC;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      max-width: 344px; }

#light .middleContainer .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  min-height: 700px; }
  #light .middleContainer .project-container h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: white; }
    @media (min-width: 767px) {
      #light .middleContainer .project-container h2 {
        align-self: start;
        margin-left: 12%; } }
    @media (min-width: 1200px) {
      #light .middleContainer .project-container h2 {
        margin-left: 20%; } }
  #light .middleContainer .project-container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px; }
    @media (min-width: 767px) {
      #light .middleContainer .project-container-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 960px) {
      #light .middleContainer .project-container-grid {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 1200px) {
      #light .middleContainer .project-container-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px; } }

#light .middleContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  border: 5px solid transparent;
  border-radius: 19px;
  background: #fdfdfd;
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 2.8px -0.95px 14px 0.1px rgba(36, 10, 36, 0.562);
  width: 293.47px;
  height: 340.47px; }
  #light .middleContainer .card::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(#023d37, #0e4627, #26675d);
    content: '';
    z-index: -1;
    border-radius: 16px; }
  #light .middleContainer .card-img {
    width: 255.77px;
    height: 129.89px; }
  #light .middleContainer .card-heading {
    font-family: "Stick No Bills", sans-serif;
    color: #38324F;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-top: 2%; }
  #light .middleContainer .card-p {
    font-family: "Montserrat", sans-serif;
    color: #676768;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2%; }
  #light .middleContainer .card .textBox-Btn-Container {
    display: flex;
    flex: row;
    gap: 4%; }
    #light .middleContainer .card .textBox-Btn-Container .btn-info-home {
      background: linear-gradient(90deg, #6f0079e0, #EB88B1);
      border-radius: 13px;
      width: 110px;
      border: none;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: white; }
    #light .middleContainer .card .textBox-Btn-Container .btn-prev {
      border: 2px solid #38324F;
      border-radius: 13px;
      width: 110px;
      height: 36px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: #38324F;
      background: #fdfafa; }

#light hr {
  border-top: none; }

#light .hr {
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(to right, #6f0079e0, #EB88B1, #F5C05A); }

.switch {
  position: relative;
  width: 85px;
  height: 40px;
  margin: 0 10px; }
  .switch input {
    display: none; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.247);
    transition: .4s;
    border-radius: 34px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 30px;
      width: 30px;
      left: 2px;
      right: 2px;
      bottom: 5px;
      z-index: 5;
      background-color: #d3cccc;
      background: radial-gradient(white, #d3cccc);
      transition: .4s;
      border-radius: 50px; }
  .switch input:checked + .slider {
    background-color: #ff278c67;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.514); }
    .switch input:checked + .slider:before {
      transform: translate(50px); }
