$backgroundColor:#000000;

$gradientLightGreen : #D4F79A;
$gradientMediumGreen : #A6F5A9;
$gradientDarkGreen : #7BF1B8;

//Text
$white : #FFFFFF;
$grey: #ABABAC;


//button
$backgroundBtnGrey: #1B1D1C;

//radial circels for background
//darkgreen
$darkgreenCircle : #1D2E02;
$blackCircle : #000000;

// smal blue circle
$smalBlueCircleFirst: #0E4627;
$smalBlueCircleSecond: #0E4627;
$smalBlueCirclethired: #083925;
$smalBlueCircleblack: #000000;
$smalBlueCirclefourth: #022D23;

//blue circle
$firstBlueCicle: #023D37;
$secondBlueCicle: #043933;
$thirdBlueCicle: #001F1A;

//text

$menyFont: 'Montserrat', sans-serif;
