@import './Base/variables.scss';
@import './Base/mixins.scss';

* {
  box-sizing: border-box;
}


  body {
    z-index: -2;
    margin: 0px;
      @include atLarge {
          padding-left: 10%;
          padding-right: 10%;
          background-color: antiquewhite;
        }
    #dark{
      background-color: $backgroundColor;

    
    
    }
    #light{
      background-color: white;
    }
  
  
}

 
  


