@import './Base/variables.scss';

* {
  box-sizing: border-box;
}


  body {
    z-index: -2;
    margin: 0px;
    #dark{
      background-color: $backgroundColor;
      background-color: $backgroundColor;
    
    }
    #light{
      background-color: white;
    }
  
  
}

 
  


